<div data-role="header" data-position="inline">
	 <%= link_to "", :root, "data-icon" => "home", "data-iconpos"=>"notext"%>
	<h1>mKaba - mobile</h1>
	 <%= link_to "", :root, "data-icon" => "info", "data-iconpos"=>"notext", "data-rel"=>"dialog"%>
</div>
